body {
    font-family: Arial;
    background-color: #7cc0d1;
    text-align: center;
}
.container {
    width: 650px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(200, 112, 112);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
input {
    padding: 8px;
    margin: 5px;
}
button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #28a745;
    color: rgb(68, 55, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #62dc7e;
}
#output {
    margin-top: 20px;
    text-align: left;
}